@model EMS.Web.Models.DepartmentViewModel

@{
	ViewData["Title"] = "CreateDepartment";
	Layout = "~/Views/Shared/_EMSLayout.cshtml";
	var a = Model;
	
}
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
	<script>
		alert('@ViewBag.ErrorMessage');
	</script>
}


<div class="container">
	<h2>Create Department</h2>
	<hr />
	<form method="post" asp-action="savedepartment" asp-controller="department">
		<div class="row">
			<div class="form-group col-5">
				<label class="control-label fw-bold">Department Code:</label>
				<input asp-for="Code" class="form-control" />
			</div>

			<div class="form-group col-5">
				<label class="control-label fw-bold">Department Name:</label>
				<input asp-for="DeptName" class="form-control" />
			</div>

			<div class="form-group col-5">
				<label class="control-label fw-bold">Location:</label>
				<input asp-for="Location" class="form-control" />
			</div>
			<div class="form-check col-5">
				<input class="form-check-input" asp-for="IsActive">
				<label class="form-check-label" for="flexCheckDefault">
					Active
				</label>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-10">
				&nbsp;
			</div>
			<div class="col-4">
				<a class="btn btn-secondary" asp-action="list" asp-controller="department">Go Back</a>
				<input type="submit" class="btn btn-primary" value="Submit" />
			</div>
		</div>
	</form>
</div>