@model List<EMS.Models.EmployeeModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

@foreach (var emp in Model)
{
	<h1>FirstName is : @emp.FirstName</h1>
	<h1>LastName is :  @emp.LastName</h1>
	<h1>Employeecode is : @emp.Employeecode</h1>
})
